<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
        <package android:name="com.amazon.mShop.android.shopping" />
        <package android:name="io.supercent.linkedcubic" />
        <package android:name="com.gtsy.annoying.punch.game" />
        <package android:name="com.playstrom.dop4" />
        <package android:name="io.voodoo.holeio" />
        <package android:name="com.sh.fidget.toys.mini.relaxing.antistress.games" />
        <package android:name="com.playstrom.dop2" />
        <package android:name="com.tvf.anti.stress.relaxing.mini.games" />
        <package android:name="com.vincentb.MobControl" />
        <package android:name="com.oakever.tiletrip" />
        <package android:name="com.block.juggle" />
        <package android:name="com.wood.block.sudoku.puzzle.bm" />
        <package android:name="com.vitastudio.mahjong" />
        <package android:name="com.save.princess.girl.dragon.out.and" />
        <package android:name="com.awesome.puzzlehexasort" />
        <package android:name="com.easybrain.crossword.puzzles" />
        <package android:name="com.bunbunstudio.magicblocktiles" />
        <package android:name="com.unept.leveldevil" />
        <package android:name="com.easygames.race" />
        <package android:name="com.amelosinteractive.snake" />
        <package android:name="com.bm.steal.brainrot.go.tung.sahur.tralalero.bombardino" />
        <package android:name="com.youmusic.magictiles" />
        <package android:name="com.Garawell.BridgeRace" />
        <package android:name="com.Aria.TidyMaster.mi" />
        <package android:name="com.gamovation.tileclub" />
        <package android:name="grill.sort.food.games.match.puzzle" />
        <package android:name="funvent.tilepark" />
        <package android:name="com.mergegames.gossipharbor" />
        <package android:name="com.fc.goods.sort.matching.puzzle.triplemaster" />
        <package android:name="com.gof.global" />
        <package android:name="com.run.tower.defense" />
        <package android:name="com.greenmushroom.boomblitz.gp" />
        <package android:name="com.fun.lastwar.gp" />
        <package android:name="com.readygo.dark.gp" />
        <package android:name="com.readygo.barrel.gp" />
        <package android:name="com.hhgame.mlbbvn" />
        <package android:name="com.mobile.legends" />
        <package android:name="com.justgame.jails" />
        <package android:name="com.newleaf.app.android.victor" />
        <package android:name="com.storymatrix.drama" />
        <package android:name="com.newreading.goodreels" />
        <package android:name="com.netshort.abroad" />
        <package android:name="com.dramawave.app" />
        <package android:name="tv.flareflow.drama" />
        <package android:name="com.garanti.cepsubesi" />
        <package android:name="com.adakami.dana.kredit.pinjaman" />
        <package android:name="com.id.kredi360" />
        <package android:name="com.binance.dev" />
    </queries>

    <application
        android:name=".FlashApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanFlash">
        <activity
            android:name=".MonPage"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <data
                    android:host="com.azo.yya.go"
                    android:scheme="apple" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mottled.quell.keen.TuesPage"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WednesPage"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mottled.quell.keen.ThursPage"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FridayPage"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mottled.quell.keen.SaturPage"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mottled.quell.keen.SaijIag"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity-alias
            android:name="com.tidy.files.FasPagSName"
            android:enabled="@bool/sg_akgsa"
            android:exported="true"
            android:targetActivity=".MonPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.mottled.quell.keen.KiLamentPage"
            android:exported="true"
            android:theme="@style/Theme.CleanFlash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.akiko.aplkis.Cazs1Appcompate"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:excludeFromRecents="true"
            android:finishOnCloseSystemDialogs="true"
            android:icon="@drawable/ic_flash_tipsa"
            android:label="@string/ac_pa_asg_aq"
            android:launchMode="singleTask"
            android:roundIcon="@drawable/ic_flash_tipsa"
            android:screenOrientation="behind"
            android:theme="@style/theme_gha" />
    </application>

</manifest>